.container-not {
  justify-content: start !important;

  h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #2e444d;
    letter-spacing: -0.4px;
    margin-bottom: 40px;
    border-bottom: 0.5px solid #e9eaea;
    padding-bottom: 17px;
  }

  h3 {
    font-size: 20px;
    line-height: 31px;
    font-weight: 700;
    color: #5e65b5;
    letter-spacing: -0.111111px;
    margin-bottom: 0px;
  }

  .chamados {
    height: 70px;
    border-left: 4px solid #5e65b5;
    border-radius: 2px;
    padding-left: 8px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  .titlechamaodo {
    display: flex;
    justify-content: space-between;
  }

  .textochamado {
    margin-bottom: 0px;
    padding-bottom: 0;
  }

  .tamanhobotao {
    font-size: 13px;
  }

  .botaochamado {
    padding-top: 2px;
  }

  .content-artigo {
    margin-top: 80px !important;
  }

  p {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.4px;
    margin-bottom: 30px;
    letter-spacing: -0.0888889px;
    color: #515151;
  }

  @media screen and (max-width: 850px) {
    max-width: unset;
    width: 100%;
    margin: 0 auto 0;
    .content-artigo {
      margin-top: 0px !important;
    }
    h2,
    p {
      text-align: center;
    }

    button {
      margin: 0 auto;
      display: table;
    }
  }
}
