.container-not {
  justify-content: start!important;
  .btn-return {
    border: 1px solid #e9eaea;
    border-radius: 12px;
    padding: 12.5px 22px;
    display: flex;
    width: 300px;
    height: 50px;
  }
  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #2e444d;
  }
  .material-icons{
    color: #777777;
    size: 18px;
  }
  h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #2e444d;
    letter-spacing: -0.4px;
    margin-bottom: 40px;
    border-bottom: 0.5px solid #e9eaea;
    padding-bottom: 17px;
  }

  h3 {
    font-size: 20px;
    line-height: 31px;
    font-weight: 700;
    color: #5e65b5;
    letter-spacing: -0.111111px;
    margin-bottom: 0px;
  }
  h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #777777;
    letter-spacing: -0.4px;
  }

  .title-art {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .chamados {
    height: 70px;
    border-left: 4px solid #5e65b5;
    border-radius: 2px;
    padding-left: 8px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  .titlechamaodo {
    display: flex;
    justify-content: space-between;
  }

  .textochamado {
    margin-bottom: 0px;
    padding-bottom: 0;
  }

  .tamanhobotao {
    font-size: 13px;
  }

  .botaochamado {
    padding-top: 2px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.0888889px;
    color: #515151;
  }

  @media screen and (max-width: 850px) {
    max-width: unset;
    width: 100%;
    margin: 0 auto 0;

    h2,
    p {
      text-align: center;
    }

    button {
      margin: 0 auto;
      display: table;
    }
  }
}
