.container-artint {
  justify-content: start !important;
  .btn-returns {
    border: 1px solid #e9eaea;
    border-radius: 12px;
    padding: 12.5px 22px;
    display: flex;
    width: 100%;
    height: 80px;
    margin-right: 15px;
    align-items: center;
    margin-bottom: 15px;
  }
  .btn-active {
    box-shadow: 0px 0px 3px rgba(150, 150, 150, 0.15018), 0px 3px 5px rgba(155, 155, 155, 0.150131);
  }
  .colun-btn {
    display: flex;
  }
  .div-warn {
    background: #e8faff;
    border: 1px solid #75adc4;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 16px;
    align-items: center;
  }
  .warn-txt {
    margin-bottom: 0px;
    margin-left: 8px;
    font-size: 12px;
    line-height: 15px;
  }
  .icon-blue {
    color: #5e65b5;
  }
  .flexdiv {
    display: flex;
  }
  .h1-central {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  .active-txt {
    color: #2e444d;
    font-weight: 600;
  }
  h4 {
    font-weight: 500;
    font-size: 15px;
    line-height: 32px;
    color: #777777;
    margin-bottom: 0px;
    margin-left: 15px !important;
  }
  .sidebar-central {
    border-right: 1px solid #e9eaea;
  }
  .page-central {
    margin-left: 22px;
  }
  .h3-text {
    color: #777777;
    font-size: 14px;
    line-height: 17px;
    margin-top: 20px;
  }
  .tab-margin {
    margin-left: 23px;
  }
  .tab-div {
    align-items: center;
    
  }
  .active-tab {
    color: #2E444D;
    font-weight: 600;
    border-bottom: 3px solid #5E65B5;
  }
  .select-tab {
    border-bottom: 1px solid #e9eaea;
  }
  .tab-text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0px;
    padding-bottom: 15px;
  }
  .divnao {
    margin-left: 15px;
  }
  .video-content {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e9eaea;
    width: 100%;
  }
  .videosm {
    width: 100%;
  }
  .margintop {
    margin-top: 20px;
  }
  .marginleft {
    margin-left: 16px;
    margin-bottom: 10px !important;
  }
  .p-text {
    font-size: 13px;
    line-height: 18px;
    color: #777777;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .pesquisar-text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 7px;
    color: #777777;
  }
  .div-pesquisa {
    border-bottom: 1px solid #e9eaea;
    padding-bottom: 15px;
  }
  .color-icon {
    color: #777777;
  }

  h2 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.4px;
    color: #2e444d;
    margin-bottom: 0px;
  }

  .txt-red {
    font-weight: 600;
    color: #d70f22;
  }

  .title-art {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .espaco-r {
    margin-right: 5px;
  }

  .espaco-l {
    margin-left: 5px;
  }
  .txt-area {
    line-height: 24px;
    color: #777777;
  }

  .textochamado {
    margin-bottom: 0px;
    padding-bottom: 0;
  }

  .tamanhobotao {
    font-size: 13px;
  }

  .botaochamado {
    padding-top: 2px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.0888889px;
    color: #515151;
  }

  @media screen and (max-width: 850px) {
    max-width: 100vh;
    width: 100%;
    margin: 0 auto 0;

    h2,
    p {
      text-align: center;
    }

    .width45 {
      width: 45%;
    }
    .flexdiv {
      width: 45%;
    }
    .div-inline {
      flex-direction: column;
    }

    .page-central {
      margin-left: 0px;
      width: 100vh;
    }
    
    .sidebar-central {
      display: none;
    }

    .responsive {
      width: 100vh;
    }

    button {
      margin: 0 auto;
      display: table;
    }
  }
}
