.content-impacto {
  margin-top: 40px !important;
  justify-content: start !important;

  h3 {
    font-size: 20px;
    line-height: 31px;
    font-weight: 700;
    color: #5e65b5;
    letter-spacing: -0.111111px;
    margin-bottom: 0px;
  }

  h2 {
    font-weight: 00;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.4px;
    color: #2e444d;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  p {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #515151;
    margin-bottom: 0px !important;
  }

  .card-abs {
    border: 1px solid #e9eaea;
    box-sizing: border-box;
    border-radius: 12px;
    width: 100%;
    justify-content: center;
    display: grid;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-items: center;

    img {
      margin-bottom: 15px;
    }

    p {
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #515151;
    }
  }

  .flex-card {
    display: flex;
    margin-bottom: 40px;
  }
  h6 {
    font-weight: 600;
    font-size: 40px;
    line-height: 32px;
    color: #5e65b5;
    letter-spacing: -0.4px;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.4px;
    color: #777777;
    font-weight: 400;
  }

  .title-flex {
    display: flex;
    justify-content: space-between;
  }

  .superior-card {
    border-bottom: 1px solid #e9eaea;
    padding: 16px;

    h2 {
      font-weight: 600;
      font-size: 16px;
      line-height: 27px;
      color: #2e444d;
    }

    h4 {
      margin-bottom: 0;
    }
  }

  .card-impacto {
    border: 1px solid #e9eaea;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 0px !important;
    width: 100%;
  }

  .div-btn {
    padding: 16px;
  }
  .chamados {
    height: 70px;
    border-left: 4px solid #5e65b5;
    border-radius: 2px;
    padding-left: 8px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  .titlechamaodo {
    display: flex;
    justify-content: space-between;
  }

  .textochamado {
    margin-bottom: 0px;
    padding-bottom: 0;
  }

  .tamanhobotao {
    font-size: 13px;
  }

  .botaochamado {
    padding-top: 2px;
  }

  p {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.4px;
    margin-bottom: 30px;
    letter-spacing: -0.0888889px;
    color: #515151;
  }

  @media screen and (max-width: 850px) {
    max-width: unset;
    width: 100%;
    margin: 0 auto 0;
    margin-top: 0px !important;
    .card-impacto {
      margin-right: 0px;
    }
    .content-artigo {
      margin-top: 0px !important;
    }
    h2,
    p {
      text-align: center;
    }

    button {
      margin: 0 auto;
      display: table;
    }
  }
}
