.btn {
  border: 1px solid #5e65b5;
  background-color: #5e65b5;
  color: white;
  transition: 0.3s;
  padding: 12.5px 22px;
  border-radius: 12px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  display: block;

  &:hover {
    background-color: transparent;
    color: #5e65b5;
  }

  //Tamanhos ----------------------------

  &.md1 {
    font-size: 10px;
    line-height: 12px;
  }

  &.md2 {
    font-size: 12px;
    line-height: 15px;
  }

  &.md3 {
    font-size: 14px;
    line-height: 22px;
  }

  &.md4 {
    font-size: 16px;
    line-height: 22px;
  }

  &.md5 {
    font-size: 18px;
    line-height: 22px;
  }

  &.md6 {
    font-size: 20px;
    line-height: 25px;
  }

  &.sm {
    font-size: 14px;
    line-height: 22px;
    padding: 5px 16px;
    border-radius: 8px;
  }

  //-----------------------------------

  //Cores -----------------------------

  &.white-transparent {
    background-color: transparent !important;
    border-color: white !important;
    color: white !important;

    &.btn[disabled] {
      border-color: transparent !important;
      color: #d8d8d8;
      opacity: 0.25;
    }

    &:active {
      //Pressed
    }

    &:focus {
      //On-focus
    }
    &.md1 {
      font-size: 10px;
      line-height: 12px;
    }

    &.md2 {
      font-size: 12px;
      line-height: 15px;
    }

    &.md3 {
      font-size: 14px;
      line-height: 22px;
    }

    &.md4 {
      font-size: 16px;
      line-height: 22px;
    }

    &.md5 {
      font-size: 18px;
      line-height: 22px;
    }

    &.md6 {
      font-size: 20px;
      line-height: 25px;
    }
  }

  &.gray-transparent {
    background-color: transparent;
    border-color: #bebebe;
    color: #777777;
    &:hover {
      color: #5e65b5 !important;
    }
    &:focus {
      color: #5d8a9c !important;
      border-color: #5d8a9c !important;
    }
    &.btn[disabled] {
      border-color: transparent !important;
      color: #d8d8d8;
      opacity: 0.25;
    }
    &.md1 {
      font-size: 10px;
      line-height: 12px;
    }

    &.md2 {
      font-size: 12px;
      line-height: 15px;
    }

    &.md3 {
      font-size: 14px;
      line-height: 22px;
    }

    &.md4 {
      font-size: 16px;
      line-height: 22px;
    }

    &.md5 {
      font-size: 18px;
      line-height: 22px;
    }

    &.md6 {
      font-size: 20px;
      line-height: 25px;
    }
  }

  &.gradient {
    background-image: linear-gradient(to right, #747ddd, #21ae7b);
    border-color: transparent !important;
    &:hover {
      background-image: linear-gradient(#726be6, #77cab7) !important;
    }
    &:focus {
      color: #5e65b5 !important;
      border-color: #5e65b5 !important;
      background-image: none !important;
      background-color: #5e65b5 !important;
    }
    &.btn[disabled] {
      border-color: transparent !important;
      color: #d8d8d8;
      opacity: 0.25;
    }
    &.md1 {
      font-size: 10px;
      line-height: 12px;
    }

    &.md2 {
      font-size: 12px;
      line-height: 15px;
    }

    &.md3 {
      font-size: 14px;
      line-height: 22px;
    }

    &.md4 {
      font-size: 16px;
      line-height: 22px;
    }

    &.md5 {
      font-size: 18px;
      line-height: 22px;
    }

    &.md6 {
      font-size: 20px;
      line-height: 25px;
    }
  }

  //-----------------------------------

  &.link {
    border: none;
    color: #5d8a9c;
    text-decoration: underline;
    padding: 0;
    background-color: transparent;
    font-weight: bold;
  }
}

.btn[disabled] {
  background: #f3f3f3 !important;
  color: #d8d8d8 !important;
  border-color: #f3f3f3 !important;
  pointer-events: none;
}
