.containerInput {
  margin-bottom: 19px;
  position: relative;
  &.select {
    .material-icons {
      right: 20px;
      position: absolute;
      font-weight: bold;
      font-size: 20px;
      top: 42px;
      color: #777777;
      z-index: 2;
      pointer-events: none;
    }
    &.gray {
      color: #D8D8D8;
      border: 1px solid #E9EAEA;
      background-color: #ffffff;
    }
    &.blue {
      color: #2E444D;
      border: 1px solid #A9C8D4;
      background-color: #EAF9FF;
    }
  }

  .inputField {
    position: relative;
    outline: none;
    padding: 13px 16px;
    color: #516c7e;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;

    border: 1px solid #a9c8d4;
    border-radius: 12px;

    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.4px;
    color: #2e444d;

    &::placeholder {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.4px;
      color: #2e444d;
    }

    &.gray {
      color: #D8D8D8;
      border: 1px solid #E9EAEA;
      background-color: #ffffff;
    }
    &.black {
      color: #2E444D;
      border: 1px solid #A9C8D4;
      background-color: #ffffff;
    }
    &.blue {
      color: #2E444D;
      border: 1px solid #A9C8D4;
      background-color: #EAF9FF;
    }
    &.red {
      color: #D70F22;
      border: 1px solid #D70F22;
      background-color: #FFF0F2;
    }
  }

  label {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.4px;
    color: #777777;
    margin-bottom: 8px;
    display: block;
  }
  &.gray {
    color: #D8D8D8;
    border: 1px solid #E9EAEA;
    background-color: #ffffff;
  }
  &.black {
    color: #2E444D;
    border: 1px solid #A9C8D4;
    background-color: #ffffff;
  }
  &.blue {
    color: #2E444D;
    border: 1px solid #A9C8D4;
    background-color: #EAF9FF;
  }
  &.red {
    color: #D70F22;
    border: 1px solid #D70F22;
    background-color: #FFF0F2;
  }
}

.validate {
  color: #d70f22;
}
