.container-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: hidden;

  transition: 0.3s;
  transform: translateX(150vw);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999999999;
  display: block;

  &.active {
    transform: translateX(0);
  }
}

.content-modal {
  width: 100%;

  @media screen and (max-width: 850px) {
    overflow: hidden;
    background: linear-gradient(294.34deg, #21ae7b 15.58%, #747ddd 62.66%);
    padding: -3px;
    padding: 1rem;
    display: grid;
    align-items: center;
    text-align: center !important;
    height: 70px;
    padding-top: 36px;
  }
}

.background-container-modalVA {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #5E65B5;
  mix-blend-mode: normal;
  opacity: 0.9;
  z-index: 1;
  top: 0;
  left: 0;
}

.drawer-containerVA {
  width: 60vw;
  height: 100%;
  position: inherit;
  background-color: white;
  right: 0px;
  padding: 1rem;
  z-index: 1;
  @media screen and (max-width: 850px) {
    width: 100%;
    padding: 0px;
  }
}

.container-modal2 {
  width: 100%;
  height: 100%;
  padding: 2rem;
  overflow: auto;
}

.icon-mobile {
  @media screen and (max-width: 850px) {
    color: #fff !important;
    position: absolute;
    text-align: left;
  }
}

.title-modal {
  @media screen and (max-width: 850px) {
    display: none;
  }
}

.text-mobile {
  display: none;
  @media screen and (max-width: 850px) {
    display: block;
    color: #fff !important;
  }
}
