header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 88px;
  padding: 0 9px;

  a {
    text-decoration: none;
  }
  .alinhar {
    display: flex;
    align-items: center;
  }

  .InfoHeader {
    .perfilHeader {
      p {
        margin: 0 13px 0 0;
      }
    }
  }
  .buttonLogoHeader {
    button {
      display: none;
    }
  }

  @media screen and (max-width: 850px) {
    background: linear-gradient(294.34deg, #21ae7b 15.58%, #747ddd 62.66%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 0 16px;

    .InfoHeader {
      .linguagemHeader {
        display: none;
      }

      .perfilHeader {
        p {
          display: none;
        }
      }
      span {
        color: white;
        margin-right: 16px;
      }
    }

    .buttonLogoHeader {
      button {
        border: none;
        background-color: transparent;
        color: white;
        margin-right: 16px;
        display: block;
      }
    }
  }
}
