//sizes
.display-01 {
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -0.04em;
}

.display-02 {
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.03em;
}

.heading-01 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
  small {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -0.02em;
  }
}

.heading-02 {
  font-size: 40px;
  line-height: 47px;
  letter-spacing: -0.02em;
  small {
    font-size: 33px;
    line-height: 46px;
    letter-spacing: -0.02em;
  }
}

.heading-03 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
  small {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.02em;
  }
}

.heading-04 {
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.02em;
  small {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
  }
}

.heading-05 {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.02em;
  small {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
  }
}

.heading-06 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  small {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.02em;
  }
}

.p-01,
p {
  font-size: 14px;
  line-height: 20px;
}

.p-02 {
  font-size: 16px;
  line-height: 30px;
}

.p-03 {
  font-size: 18px;
  line-height: 22px;
}

.subheading {
  font-size: 20px;
  line-height: 28px;
}

.caption {
  font-size: 12px;
  line-height: 18px;
}



.label {
  margin-left: 8px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.4px;
  color: #777777;
  display: block;

  a {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #5d8a9c;
  }
}

a{
  text-decoration: none;
}

.footer {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

.W-tamanho {
  width: 100%;
}
//transformação da fonte
.uppercase {
  text-transform: uppercase !important;
}
.capitalize {
  text-transform: capitalize !important;
}
.transform-none {
  text-transform: none !important;
}

// alinhamento do texto
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}

.text-end {
  text-align: end !important;
}
.text-centered {
  margin-left: auto !important;
  margin-right: auto !important;
}

.f-right{
  float: right;
}

// Weight
.text-light {
  font-weight: 300 !important;
}
.text-normal {
  font-weight: 500 !important;
}
.text-semibold {
  font-weight: 600 !important;
}
.text-bold {
  font-weight: 700 !important;
}

// fontes do texto
.font-display {
  font-family: $font-display !important;
}
.font-text {
  font-family: $font-text !important;
}

//decaração do texto
.undeline {
  text-decoration: underline !important;
}

//colors

.text-white {
  color: #fff !important;
}
.text-black {
  color: #000 !important;
}

.text-purple {
  color: #5e65b5;
}

.text-lightGray {
  color: #777777;
}

.text-dark-green {
  color: #2e444d;
}

.text-green {
  color: #12a685;
}

.text-medium-green {
  color: #5D8A9C;
}

.text-red {
  color: #D70F22;
}

.text-gradient-default {
  color: #5e65b5;
  background: -webkit-linear-gradient(180deg, #726BE6 -36.54%, #77CAB7 157.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

